@import './Variable.scss';

.D__none{
    display: none;
}
.p__text{
    color: $blackColor;
    font-family: $textFont;
    font-size: 16px;
    letter-spacing: .1px;
    text-decoration: none;
}
.sub__text{
    font-size: 22px;
    color: $blackColor;
    font-family: $textFont;
    font-weight: 500;
    line-height: 1.1;
}
.pop__text{
    font-size: 15px;
    color: $blackColor;
    font-family: $textFont;
    font-weight: 700;
    line-height: 1.1;
}
.price__tag{
    font-weight: 700;
    font-size: 16px;
    color: $blackColor;
    font-family: $primaryFont;
}
.cag__text{
    font-size: 18px;
    font-family: $textFont;
    font-weight: 300;
    color: $blackColor;
}
.app__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__columns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.svg-icon{

}