@import '../../style//Variable.scss';
.Home__contact-con{
    width: 100%;
    padding: 1rem;
    .Home__contact{
        padding-top: 1rem;
        .Home__contact-img-con{
            width: 100%;
            img{
                width: 100%;
            }
        }
        width: 100%;
        align-items: flex-start;
        .p__text{
            font-size: 1rem;
            line-height: 1.5;
            text-align: justify;
            padding-top: .5rem;
        }
        .Home__contact-desc{
            margin-top: 20px;
            width: 100%;
            align-items: flex-start;
            div{
                margin-top: 10px 0;
                display: flex;
                align-items: center;
                span svg{
                    margin-right: 10px;
                    font-size: .9rem;
                    color: $primaryColor;
                }
                a, p{
                    color: $primaryColor;
                    font-size: .9rem;
                }
            }
        }
    }   
}