@import '../../style/Variable.scss';

.footer__container{
    background-color: $blackColor;
    padding: 1rem;
    justify-content: center;
    .footer__text{
        color:  $whiteColor;
        text-align: center;
    }
    .footer-icons{
        margin-top: 10px;
        a{
            margin: 0 7px;
            svg{
                color: $whiteColor;
            }
        }

    }
}